<h3 class="h5 my-5">ツイート予約投稿 全般</h3>


<%= render partial: 'q', locals: {text: '「ツイート予約投稿」とは何ですか？'} %>
<div class="mb-5">ツイートを時間指定で予約投稿できるWebサイトのことです。誰でも無料で使うことができます。</div>

<%= render partial: 'q', locals: {text: 'ツイートの予約投稿はどんな時に便利ですか？'} %>
<div class="mb-5">ユーザーが活発な時間帯に定期的なツイートを行う場合に便利です。<br><br>ツイッターは、朝の8時、昼の12時、夜の21時頃にもっとも活発に利用されます。ツイート予約投稿を利用すれば、これらの時間帯にピンポイントでツイートを投稿することができます。</div>

<%= render partial: 'q', locals: {text: 'ツイートを予約投稿する方法は他にもありますか？'} %>
<div class="mb-5">たくさんあります。パソコンをお使いであれば、ツイッター公式の予約投稿機能を使うのが一番確実です。スマートフォンをお使いであれば、ぜひ当サイトをご利用ください。</div>


<h3 class="h5 my-5">ツイート予約投稿 使い方</h3>


<%= render partial: 'q', locals: {text: '予約ツイートの文字数は最大で何文字ですか？'} %>
<div class="mb-5">予約ツイートの入力ルールはツイッターと全く同じです。英語なら280文字、日本語なら140文字まで入力できます。<br><br>URLは末尾に書けば文字数としてカウントされません。ハッシュタグや改行を使うこともできます。</div>

<%= render partial: 'q', locals: {text: 'ツイートの予約投稿の際に画像を添付できますか？'} %>
<div class="mb-5">できます。画像ファイルを最大で4つまで添付できます。1つの画像ファイルの最大サイズは15MBです。</div>

<%= render partial: 'q', locals: {text: 'ツイートの予約投稿の際に動画を添付できますか？'} %>
<div class="mb-5">動画は添付できません。動画を添付する際はツイッター公式をご利用ください。</div>

<%= render partial: 'q', locals: {text: '予約されたツイートの日時はどうなりますか？'} %>
<div class="mb-5">ツイートが投稿された瞬間の日時になります。例えば、1月1日 10時0分 を指定した場合、ツイートの日時もこの日時と全く同じになります。</div>

<%= render partial: 'q', locals: {text: '時間指定はどれくらい細かくできますか？'} %>
<div class="mb-5">「分」まで指定できます。例えば、2020年1月1日 10時10分 といった指定が可能です。</div>

<%= render partial: 'q', locals: {text: '時間はどれくらい先まで指定できますか？'} %>
<div class="mb-5">約1年先まで指定できます。</div>

<%= render partial: 'q', locals: {text: '何個まで予約ツイートは作成できますか？'} %>
<div class="mb-5">100個まで作成できます。</div>

<%= render partial: 'q', locals: {text: '予約済みのツイートを投稿前に編集できますか？'} %>
<div class="mb-5">今のところできません。予約したツイートを編集したい場合は、一度予約を削除した後に、新しいツイートを予約してください。</div>

<%= render partial: 'q', locals: {text: 'ツイートの予約投稿に失敗する理由は何ですか？'} %>
<div class="mb-5">予約投稿に失敗する際は、ツイートの文字数が多すぎないか、添付画像のサイズが大きすぎないか、アカウントが凍結されていないか等をご確認ください。<br><br>他にも、完全に同じツイートを連続して投稿すると失敗します。これらのルールは全てツイッター公式と同じです。</div>


<h3 class="h5 my-5">ツイート予約投稿 その他</h3>


<%= render partial: 'q', locals: {text: '公式アカウントはありますか？'} %>
<div class="mb-5"><a href="https://twitter.com/ego_tter" target="_blank">@ego_tter</a> が公式アカウントです。質問やご要望はお気軽にご連絡ください。</div>

<%= render partial: 'q', locals: {text: '有料のサポートは提供していますか？'} %>
<div class="mb-5">確実に予約投稿をしたい、予約投稿の効果を測定したいという方向けに有料のサポートを提供しています。詳細については <a href="https://twitter.com/ego_tter" target="_blank">@ego_tter</a> までお問い合わせください。</div>

<h3 class="h5 my-5">ツイッター公式の予約投稿機能について</h3>


<%= render partial: 'q', locals: {text: 'ツイートの予約投稿にクレジットカードは必要ですか？'} %>
<div class="mb-5">当サイトでは必要ありません。ツイッター公式の予約投稿機能は以前までは支払い方法の登録が必要だったようですが、今は支払い方法を登録しなくても予約投稿をすることができます。</div>

<%= render partial: 'q', locals: {text: 'ツイッター公式の予約投稿機能はどこにありますか？'} %>
<div class="mb-5">
  パソコンから twitter.com を開き、通常通りツイートを作成してください。その際、絵文字入力ボタンの右側のカレンダーボタンをクリックすれば、ツイートする日時を指定することができます。
  <img class="shadow d-block my-3" style="width: 100%;" src="<%= image_path '/faq/twitter_com_schedule_button.png' %>">
</div>
