<% tokyo_time = Time.zone.now.in_time_zone('Tokyo') %>
<%= form_tag api_v1_scheduled_tweets_path, id: 'form', method: :post, multipart: true, remote: true do %>
  <div class="d-flex justify-content-between">
    <div class="textarea-title text-label">
      <i class="fas fa-spell-check mr-1"></i>
      <%= t('.tweet') %>
    </div>
    <div class="text-right remaining-count">280</div>
  </div>

  <div id="form_text_errors" class="invalid-feedback form-text"></div>

  <div class="textarea-container bg-white mb-2">
    <div class="textarea-outer">
      <textarea id="input-text" placeholder="<%= t('.placeholder') %>"></textarea>
    </div>
    <div class="input-actions" style="display: none;">
      <span class="input-emoji"><i class="far fa-smile mr-3"></i></span>
    </div>
  </div>

  <div class="text-muted small mt-1"><%= t('.hints.write_url_at_the_end') %></div>
  <div class="text-muted small mt-1 mb-5"><%= t('.hints.asterisk_not_allowed') %></div>

  <div class="form-group">
    <label for="input-image">
      <i class="far fa-file-image"></i>
      <%= t('.attach_image') %>
    </label>
    <div id="form_images_errors" class="invalid-feedback form-text"></div>
    <input type="file" id="input-image" class="form-control-file" name="input-images[]" multiple="multiple" accept=".jpg,.jpeg,.png,.gif,image/jpeg,image/png,image/gif">
  </div>

  <div class="text-muted small mt-1"><%= t('.hints.max_files') %></div>
  <div class="text-muted small mt-1 mb-5"><%= t('.hints.content_type_html') %></div>

  <div class="form-group">
    <label for="date-picker">
      <i class="far fa-calendar"></i>
      <%= t('.schedule_date') %>
    </label>
    <div id="form_date_errors" class="invalid-feedback form-text"></div>
    <input type="date" id="date-picker" class="form-control" name="scheduled-date"
           min="<%= (tokyo_time + 1.hour).to_date %>" max="<%= ScheduledTweet::TimeValidator.max_date %>" value="<%= (tokyo_time + 1.hour).to_date %>">
  </div>

  <div class="form-group mb-5">
    <label for="time-picker">
      <i class="far fa-clock"></i>
      <%= t('.schedule_time') %>
    </label>
    <div id="form_time_errors" class="invalid-feedback form-text"></div>
    <input type="time" id="time-picker" class="form-control" name="scheduled-time"
           value="<%= (tokyo_time + 1.hour).strftime('%H:%M') %>">
  </div>

  <fieldset class="form-group mb-5">
    <legend class="col-form-label">
      <i class="fas fa-recycle"></i>
      <%= t('.repeat_type') %>
    </legend>
    <div class="form-check mb-1">
      <input class="form-check-input" type="radio" name="repeat_type" id="repeat_type1" value="" checked>
      <label class="form-check-label" for="repeat_type1">
        <%= t('.repeat_type_just_this_once') %>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="repeat_type" id="repeat_type2" value="<%= ScheduledTweet::RepeatTypeValidator::VALUES[0] %>">
      <label class="form-check-label" for="repeat_type2">
        <%= t('.repeat_type_repeat_for_7days') %>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="repeat_type" id="repeat_type3" value="<%= ScheduledTweet::RepeatTypeValidator::VALUES[1] %>">
      <label class="form-check-label" for="repeat_type3">
        <%= t('.repeat_type_repeat_for_14days') %>
      </label>
    </div>
  </fieldset>

  <p class="text-danger my-3"><%= t('scheduled_tweets.index.service_stopped_html') %></p>

  <div>
    <button style="" id="submit" type="submit" class="btn btn-success" disabled><%= t('.create') %></button>
  </div>

  <%= hidden_field_tag :tweet_text, '', class: 'tweet-text' %>
<% end %>
