<blockquote class="twitter-tweet bt-white d-block pt-3 mb-0">
  <div class="media">
    <div class="mr-3">
      <img src="<%= user.profile_image_url ? user.profile_image_url : image_path('/image_48x48.jpg') %>" class="rounded-circle" alt="...">
    </div>
    <div class="media-body">
      <div class="mb-2">
        <%= link_to "https://twitter.com/#{user.screen_name}", target: '_blank' do %>
          <span class="name"><%= user.name %></span>
          <span class="screen-name">@<%= user.screen_name %></span>
        <% end %>
        <span class="published-at">
          &sdot;
          <% if tweet.persisted? %>
            <% publish_time = tweet.publish_time.in_time_zone('Tokyo').strftime("%Y/%m/%d %H:%M") %>
            <% if tweet.published? %>
              <%= link_to publish_time, "https://twitter.com/#{user.screen_name}/status/#{tweet.tweet_id}", target: '_blank' %>
            <% else %>
              <%= publish_time %>
            <% end %>
          <% else %>
            <%= time_ago_in_words(tweet.time.in_time_zone('Tokyo')) %>
          <% end %>
        </span>
      </div>
      <p class="tweet-preview"><%= tweet.text.gsub("\r", '<br>').html_safe %></p>

      <% if tweet.persisted? && tweet.images.any? %>
        <div class="row no-gutters">
          <% tweet.images.each do |image| %>
            <div class="col-6"><%= image_tag image, class: 'preview-image' %></div>
          <% end %>
        </div>
      <% else %>
        <div style="display: none;" class="preview-image-container alert alert-light alert-dismissible fade show" role="alert">
          <div class="row no-gutters">
            <% ScheduledTweet::FileValidator::MAX_FILES.times do |n| %>
              <div class="col-6"><img class="preview-image index-<%= n %>"></div>
            <% end %>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <div class="tweet-actions mt-3">
        <i class="far fa-comment mr-3"></i>
        <i class="fas fa-retweet mr-3"></i>
        <i class="far fa-heart mr-3"></i>
        <i class="far fa-envelope mr-3"></i>
      </div>
    </div>
  </div>
</blockquote>
