<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Landing Page - Start Bootstrap Theme</title>
</head>

<body>

  <%= javascript_pack_tag 'scheduled_tweets' %>

  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light static-top">
    <div class="container">
      <a class="navbar-brand" href="#"><%= t('.brand_title') %></a>
      <% if user_signed_in? %>
        @<%= current_user.screen_name %>
      <% else %>
        <a class="btn btn-primary" href="<%= user_twitter_omniauth_authorize_path %>"><%= t('.sign_in') %></a>
      <% end %>
    </div>
  </nav>

  <div class="vertical-spacing"></div>

  <div class="container">
    <%= render partial: 'alert_message', locals: {type: 'success'} %>
    <%= render partial: 'alert_message', locals: {type: 'warning'} %>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-lg-6">
        <div>
          <div class="float-left textarea-title text-label">
            <i class="fas fa-spell-check mr-1"></i>
            <%= t('.tweet') %>
          </div>
          <div class="float-right">
            <div class="text-right remaining-count">280</div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="textarea-container">
          <div class="textarea-outer">
            <textarea id="input-text" placeholder="<%= t('.placeholder') %>"></textarea>
          </div>
          <div class="input-actions">
            <span class="upload-file"><i class="far fa-image mr-3"></i></span>
            <span class="input-emoji"><i class="far fa-smile mr-3"></i></span>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-6">
        <div class="d-block d-sm-none">
          <div class="my-5"></div>
        </div>

        <div class="preview-title">
          <i class="fab fa-twitter mr-1"></i>
          <%= t('.preview') %>
        </div>
        <div id="live-preview">
          <%= render partial: 'tweet_preview', locals: {user: @preview_user, tweet: @preview_tweet} %>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: 'divider' %>

  <div class="container">
    <%= form_tag api_v1_scheduled_tweets_path, id: 'form', method: :post, multipart: true, remote: true do %>
      <div class="form-group">
        <label for="date-picker" class="specified_date-label"><%= t('.schedule_date') %></label>
        <div><input type="text" id="date-picker" class="form-control" name="scheduled-date" placeholder="<%= Time.zone.now.year %>/00/00"></div>
      </div>

      <div class="form-group">
        <label for="time-picker" class="specified_time-label"><%= t('.schedule_time') %></label>
        <div><input type="text" id="time-picker" class="form-control" name="scheduled-time" placeholder="00:00" data-time-format="H:i"></div>
      </div>

      <%= hidden_field_tag :tweet_text, '', class: 'tweet-text' %>
      <div><input type="file" id="input-image" name="input-image" accept=".jpg,.jpeg,.png,.gif,image/jpeg,image/png,image/gif" style="display: none;"></div>

      <div class="vertical-spacing"></div>
      <button id="submit" type="submit" class="btn btn-success"><%= t('.do_schedule') %></button>
    <% end %>
  </div>

  <%= render partial: 'divider' %>

  <div class="container">
    <div id="not-published-tweets">
      <div class="title"><%= t('.scheduled') %></div>
      <% if @scheduled_tweets.not_published.any? %>
        <%= render(partial: 'not_published_tweet', collection: @scheduled_tweets.not_published, as: :tweet, cached: true, locals: {preview_user: @preview_user}) %>
      <% else %>
        <%= t('.none') %>
      <% end %>
    </div>
  </div>

  <div class="container">
    <div id="published-tweets">
      <div class="title"><%= t('.published') %></div>
      <% if @scheduled_tweets.published.any? %>
        <%= render(partial: 'published_tweet', collection: @scheduled_tweets.published, as: :tweet, cached: true, locals: {preview_user: @preview_user}) %>
      <% else %>
        <%= t('.none') %>
      <% end %>
    </div>
  </div>

  <script>
    $(function () {
      var errors = {
        videoNotAllowed: '<%= t('.errors.video_not_allowed') %>',
        fileSizeTooBig: '<%= t('.errors.too_big_file') %>',
        invalidContentType: '<%= t('.errors.invalid_content_type') %>'
      };
      var labels = new AttributeLabels();
      var successMessage = new AlertMessage('#success-message');
      var errorMessage = new AlertMessage('#warning-message');

      new InputArea();

      var fileUploader = new FileUploader();
      fileUploader.on('error', function (type) {
        labels.clear();
        successMessage.hide();
        errorMessage.hide();
        errorMessage.show(errors[type]);
      });

      var imagePreview = new ImagePreview();
      imagePreview.on('close', function () {
        fileUploader.clear();
      });

      new TimePicker();
      new DatePicker({maxDate: '<%= 1.week.since.strftime("%Y/%m/%d") %>'});

      $('#form').on('ajax:beforeSend', function (e) {
        var response = e.detail[0];
        console.log('beforeSend', response);
        labels.clear();
        successMessage.hide();
        errorMessage.hide();
      });

      $('#form').on('ajax:success', function (e) {
        var response = e.detail[0];
        console.log('success', response);

        successMessage.show(response['message']);
      });

      $('#form').on('ajax:error', function (e) {
        var response = e.detail[0];
        console.log('error', response);

        var message = response['error'];
        if (Array.isArray(message)) {
          message = message.join('<%= t('.delim') %>');
        }
        errorMessage.show(message);

        if (response['error_attributes']) {
          for (var attr of response['error_attributes']) {
            $('.' + attr + '-label').css('color', '#ff0000');
          }
        }
      });
    });
  </script>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h1 class="mb-5">Build a landing page for your business or project and generate more leads!</h1>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </header>

  <!-- Icons Grid -->
  <section class="features-icons bg-light text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"></i>
            </div>
            <h3>Fully Responsive</h3>
            <p class="lead mb-0">This theme will look great on any device, no matter the size!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"></i>
            </div>
            <h3>Bootstrap 4 Ready</h3>
            <p class="lead mb-0">Featuring the latest build of the new Bootstrap 4 framework!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"></i>
            </div>
            <h3>Easy to Use</h3>
            <p class="lead mb-0">Ready to use with your own content, or customize the source files!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= image_path '/landing/bg-showcase-1.jpg' %>');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Fully Responsive Design</h2>
          <p class="lead mb-0">When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('<%= image_path '/landing/bg-showcase-2.jpg' %>');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Updated For Bootstrap 4</h2>
          <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('<%= image_path '/landing/bg-showcase-3.jpg' %>');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Easy to Use &amp; Customize</h2>
          <p class="lead mb-0">Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">What people are saying...</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="<%= image_path '/landing/testimonials-1.jpg' %>" alt="">
            <h5>Margaret E.</h5>
            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="<%= image_path '/landing/testimonials-2.jpg' %>" alt="">
            <h5>Fred S.</h5>
            <p class="font-weight-light mb-0">"Bootstrap is amazing. I've been using it to create lots of super nice landing pages."</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="<%= image_path '/landing/testimonials-3.jpg' %>" alt="">
            <h5>Sarah W.</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form>
            <div class="form-row">
              <div class="col-12 col-md-9 mb-2 mb-md-0">
                <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
              </div>
              <div class="col-12 col-md-3">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Terms of Use</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Privacy Policy</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fab fa-twitter-square fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>

</html>
