<% content_for :title, t('.meta.title') %>
<% content_for :description, t('.meta.description') %>

<%= gradient_header do %>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="h2 text-white mb-3"><%= t('.page_header.title') %></h1>
        <p class="text-white mb-5" style="line-height: 1.8;"><%= t('.page_header.description') %></p>
        <a href="#schedule-tweet" class="btn btn-lg btn-primary d-inline-block"><%= t('.page_header.free_trial') %></a>
        &nbsp;
        <div class="d-block d-md-none mb-3"></div>
        <a class="text-white" href="#how-to-use"><%= t('.page_header.see_how_to_use') %></a>
        <div class="d-block d-lg-none mb-5"></div>
      </div>
      <div class="col-lg"><img class="img-fluid rounded" src="<%= image_path '/page_header.png' %>" alt=""></div>
    </div>
  </div>
<% end %>


<div class="container">
  <%= render partial: 'alert_message', locals: {type: 'success'} %>
  <%= render partial: 'alert_message', locals: {type: 'warning'} %>
</div>

<%= waved_section do %>
  <div class="container">
    <%= offset_anchor('schedule-tweet') %>
    <h2 class="h4 mt-5"><%= t('.create.title') %></h2>

    <div class="my-5"><%= t('.create.desc_html') %></div>

    <div class="row">
      <div class="col-12 col-lg-6">
        <%= render partial: 'form' %>
      </div>

      <div class="col-12 col-lg-6">
        <div class="d-block d-lg-none mt-5"></div>
        <div class="preview-title">
          <i class="fab fa-twitter mr-1"></i>
          <%= t('.preview') %>
        </div>
        <div id="live-preview" class="bg-white">
          <%= render partial: 'tweet_preview', locals: {user: @preview_user, tweet: @preview_tweet} %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= waved_section do %>
  <div class="container">
    <h2 class="h4 mt-5"><%= t('.scheduled.title') %></h2>
    <div class="my-5"><%= t('.scheduled.desc') %></div>

    <div id="not-published-tweets" class="my-3">
      <% if @scheduled_tweets.not_published.any? %>
        <%= render(partial: 'not_published_tweet', collection: @scheduled_tweets.not_published, as: :tweet, cached: true, locals: {preview_user: @preview_user}) %>
      <% else %>
        <%= t('.none') %>
      <% end %>
    </div>

    <h2 class="h4 mt-5"><%= t('.published.title') %></h2>
    <div class="my-5"><%= t('.published.desc') %></div>

    <div id="published-tweets" class="my-3">
      <% if @scheduled_tweets.published.any? %>
        <%= render(partial: 'published_tweet', collection: @scheduled_tweets.published, as: :tweet, cached: true, locals: {preview_user: @preview_user}) %>
      <% else %>
        <%= t('.none') %>
      <% end %>
    </div>
  </div>
<% end %>

<%= waved_section do %>
  <div class="container">
    <%= offset_anchor('how-to-use') %>
    <h2 class="h4 mt-5"><%= t('.how_to_use.title') %></h2>
    <div class="my-5">
      <div class="mb-5"><%= t('.how_to_use.description') %></div>

      <% t('.how_to_use.subtitles').zip(t('.how_to_use.descriptions_html'), t('.how_to_use.images')).each.with_index do |(title, description, image), i| %>
        <div class="row mb-5">
          <div class="col-lg-6">
            <div class="text-primary"><%= i + 1 %>. <%= title %></div>
            <div class="mt-2 mb-5"><%= description %></div>
          </div>
          <div class="col-lg"><img class="shadow" style="width: 100%;" src="<%= image_path image %>"></div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container">
    <h2 class="h4 mb-4"><%= t('.support.title') %></h2>
    <div><%= t('.support.text_html') %></div>
  </div>
  <div class="mb-4"></div>
<% end %>

<script>
  $(function () {
    var isSignedIn = <%= user_signed_in? %>;
    window.I18n = {
      delim: '<%= t('.delim') %>',
      errors: {
        needSignIn: "<%= t('.errors.need_sign_in') %>",
        videoNotAllowed: "<%= t('.errors.video_not_allowed') %>",
        fileSizeTooBig: "<%= t('.errors.too_big_file') %>",
        invalidContentType: "<%= t('.errors.invalid_content_type') %>",
        somethingError: "<%= t('.errors.something_error') %>",
        text: {
          blank: "<%= t('.errors.text.blank') %>"
        },
        date: {
          blank: "<%= t('.errors.date.blank') %>"
        },
        time: {
          blank: "<%= t('.errors.time.blank') %>"
        },
      }
    };
    window.Validation = {
      max_size: <%= ScheduledTweet::FileValidator::MAX_SIZE %>,
      content_types: <%= raw ScheduledTweet::FileValidator::CONTENT_TYPES.to_json %>
    };

    $('#not-published-tweets .alert').each(function (_, el) {
      $(el).on('close.bs.alert', function () {
        var tweetId = $(this).data('scheduled-tweet-id');
        new ScheduledTweet({tweetId: tweetId}).destroy();
      })
    });

    new Form();

    $('#submit').on('click', function () {
      if (!isSignedIn) {
        SnackMessage.alert(I18n.errors['needSignIn']);
        return false;
      }
    });
  });
</script>
