%h1 Listing scheduled_tweets

%table
  %thead
    %tr
      %th Uid
      %th Text
      %th Properties
      %th
      %th
      %th

  %tbody
    - @scheduled_tweets.each do |scheduled_tweet|
      %tr
        %td= scheduled_tweet.uid
        %td= scheduled_tweet.text
        %td= scheduled_tweet.properties
        %td= link_to 'Show', scheduled_tweet
        %td= link_to 'Edit', edit_scheduled_tweet_path(scheduled_tweet)
        %td= link_to 'Destroy', scheduled_tweet, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Scheduled tweet', new_scheduled_tweet_path
