<%= javascript_pack_tag 'scheduled_tweets' %>

<div class="mb-4"></div>

<div class="container">
  <h2 class="h4"><%= t('.how_to_use.title') %></h2>
  <div><%= t('.how_to_use.digest') %></div>
  <div class="text-right"><a href="#how-to-use"><%= t('.how_to_use.see') %></a></div>

  <h2 class="h4"><%= t('.support.title') %></h2>
  <div><%= t('.support.text_html') %></div>
</div>

<div class="mb-4"></div>
<hr>
<div class="mb-4"></div>

<div class="container">
  <%= render partial: 'alert_message', locals: {type: 'success'} %>
  <%= render partial: 'alert_message', locals: {type: 'warning'} %>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div>
        <div class="float-left textarea-title text-label">
          <i class="fas fa-spell-check mr-1"></i>
          <%= t('.tweet') %>
        </div>
        <div class="float-right">
          <div class="text-right remaining-count">280</div>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="mb-4">
        <div class="textarea-container">
          <div class="textarea-outer">
            <textarea id="input-text" placeholder="<%= t('.placeholder') %>"></textarea>
          </div>
          <div class="input-actions">
            <span class="upload-file"><i class="far fa-image mr-3"></i></span>
            <span class="input-emoji" style="display: none;"><i class="far fa-smile mr-3"></i></span>
          </div>
        </div>
        <div class="text-muted hint mt-1"><%= t('.hints.asterisk_not_allowed') %></div>
        <div class="text-muted hint mt-1"><%= t('.hints.content_type_html') %></div>
      </div>

      <%= render partial: 'form' %>
    </div>

    <div class="col-lg-6">
      <div class="d-block d-sm-none">
        <div class="my-5"></div>
      </div>

      <div class="preview-title">
        <i class="fab fa-twitter mr-1"></i>
        <%= t('.preview') %>
      </div>
      <div id="live-preview">
        <%= render partial: 'tweet_preview', locals: {user: @preview_user, tweet: @preview_tweet} %>
      </div>
    </div>
  </div>
</div>


<div class="mb-4"></div>
<hr>
<div class="mb-4"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div id="not-published-tweets">
        <div class="title"><%= t('.scheduled') %></div>
        <% if @scheduled_tweets.not_published.any? %>
          <%= render(partial: 'not_published_tweet', collection: @scheduled_tweets.not_published, as: :tweet, cached: true, locals: {preview_user: @preview_user}) %>
        <% else %>
          <%= t('.none') %>
        <% end %>
      </div>
    </div>

    <div class="col-lg-6">
      <div id="published-tweets">
        <div class="title"><%= t('.published') %></div>
        <% if @scheduled_tweets.published.any? %>
          <%= render(partial: 'published_tweet', collection: @scheduled_tweets.published, as: :tweet, cached: true, locals: {preview_user: @preview_user}) %>
        <% else %>
          <%= t('.none') %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="mb-4"></div>
<hr>
<div class="mb-4"></div>

<div class="container">
  <h2 id="how-to-use" class="h3 mb-4"><%= t('.how_to_use.long_title') %></h2>
  <%= render partial: 'how_to_use' %>
</div>

<div class="container">
  <h2 class="h3 mb-4"><%= t('.support.title') %></h2>
  <div><%= t('.support.text_html') %></div>
</div>
<div class="mb-4"></div>

<script>
  $(function () {
    var errorMessages = {
      videoNotAllowed: '<%= t('.errors.video_not_allowed') %>',
      fileSizeTooBig: '<%= t('.errors.too_big_file') %>',
      invalidContentType: '<%= t('.errors.invalid_content_type') %>',
      somethingError: '<%= t('.errors.something_error') %>'
    };
    var successMessages = {
      created: '<%= t('.success.created') %>'
    };
    var labels = new AttributeLabels();
    var successMessage = new AlertMessage('#success-message');
    var errorMessage = new AlertMessage('#warning-message');
    var snackMessage = new SnackMessage();

    new InputArea();

    $('#not-published-tweets .alert').on('close.bs.alert', function () {
      var id = $(this).data('scheduled-tweet-id');
      destroyScheduledTweet(id, function done(res) {
        console.log('done', res);
        snackMessage.show(res['message']);
      }, function failed(res) {
        console.log('fail', res);
      });
    });

    var fileUploader = new FileUploader();
    fileUploader.on('error', function (type) {
      labels.clear();
      successMessage.hide();
      errorMessage.hide();
      errorMessage.show(errorMessages[type]);
    });

    var imagePreview = new ImagePreview();
    imagePreview.on('close', function () {
      fileUploader.clear();
    });

    new TimePicker();
    new DatePicker({maxDate: '<%= 2.weeks.since.strftime("%Y/%m/%d") %>'});

    $('#form').on('ajax:beforeSend', function (e) {
      var response = e.detail[0];
      console.log('beforeSend', response);
      labels.clear();
      successMessage.hide();
      errorMessage.hide();
    });

    $('#form').on('ajax:success', function (e) {
      var response = e.detail[0];
      console.log('success', response);

      successMessage.show(response['message']);
      snackMessage.show(successMessages['created']);
    });

    $('#form').on('ajax:error', function (e) {
      var response = e.detail[0];
      console.log('error', response);

      var message = response['error'];
      if (Array.isArray(message)) {
        message = message.join('<%= t('.delim') %>');
      }
      errorMessage.show(message);
      snackMessage.show(errorMessages['somethingError']);

      if (response['error_attributes']) {
        for (var attr of response['error_attributes']) {
          $('.' + attr + '-label').css('color', '#ff0000');
        }
      }
    });
  });
</script>
