<ul class="navbar navbar-dark fixed-top py-3">
  <li><a class="text-white" href="<%= root_path %>"><%= t('.brand_title') %></a></li>
  <li>
    <% if user_signed_in? %>
      <a class="text-white" href="#"><%= '@' + current_user.screen_name %></a>
    <% else %>
      <a class="text-white btn btn-primary" href="<%= user_twitter_omniauth_authorize_path %>"><%= t('.sign_in') %></a>
    <% end %>
  </li>
</ul>
