<!DOCTYPE html>
<html lang="ja">
<head>
  <% page_title = content_for?(:title) ? yield(:title) : "ScheduledTweets" %>
  <% page_description = content_for?(:description) ? yield(:description) : "Description" %>
  <title><%= page_title %></title>
  <meta name="description" content="<%= page_description %>">
  <meta content='summary_large_image' name='twitter:card'>
  <meta content='@scheduletweet_' name='twitter:site'>
  <meta property="og:title" content="<%= page_title %>">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://scheduled-tweets.egotter.com">
  <meta property="og:image" content="https://scheduled-tweets.egotter.com/og_image.jpg">
  <meta property="og:site_name" content="<%= page_title %>">
  <meta property="og:description" content="<%= page_description %>">
  <meta property="og:locale" content="ja_JP">
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta charset='utf-8'>
  <meta content='IE=edge' http-equiv='X-UA-Compatible'>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-autosize@1.18.18/jquery.autosize.min.js" integrity="sha256-VpDGR8CkdtaV/kfM1gLSAy2Dqfxb9mym6QBbKK9YYrM=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" integrity="sha256-zV9aQFg2u+n7xs0FTQEhY0zGHSFlwgIu7pivQiwJ38E=" crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.js" integrity="sha256-xoE/2szqaiaaZh7goVyF5p9C/qBu9dM3V5utrQaiJMc=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.css" integrity="sha256-Zh4AVwxlwpUo2c5u4Z5emTmYZxbCk972ewf4tqGRsBg=" crossorigin="anonymous"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/flatpickr.min.js" integrity="sha256-/irFIZmSo2CKXJ4rxHWfrI+yGJuI16Z005X/bENdpTY=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.3/l10n/ja.js" integrity="sha256-5l2/SGiIyp18A6NDIgRxdYs/orHXp6onqEybiSM0Xv0=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.css" integrity="sha256-qfsdVqVeKPVy58Hx9qCIn8Nsdh2TU1yicE7B5EHi+Ss=" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/node-snackbar@0.1.16/dist/snackbar.min.js" integrity="sha256-NOqsQWSGulWF4j0yfFlFwk9rmFpAoRV5nodGqIHyjUo=" crossorigin="anonymous"></script>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_pack_tag 'global' %>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-13072051-15"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-13072051-15');
  </script>
</head>

<body>

<nav class="navbar navbar-dark fixed-top" style="padding: 10px;">
  <div class="container">
    <a class="navbar-brand text-white" href="<%= root_path %>"><%= t('.brand_title') %></a>
    <ul class="nav">
      <% if user_signed_in? %>
        <li class="nav-item"><a class="nav-link text-white" href="#"><%= '@' + current_user.screen_name %></a></li>
      <% else %>
        <li class="nav-item"><a class="nav-link text-white" href="<%= user_twitter_omniauth_authorize_path %>"><%= t('.sign_in') %></a></li>
        <li class="nav-item"><a class="nav-link btn btn-primary text-white" href="#schedule-tweet"><%= t('.free_trial') %></a></li>
      <% end %>
    </ul>
  </div>
</nav>

<% if notice %>
  <script>
    SnackMessage.success('<%= notice %>');
  </script>
<% end %>
<% if alert %>
  <script>
    SnackMessage.alert('<%= alert %>');
  </script>
<% end %>

<%= yield %>

<footer class="footer py-5">
  <div class="container text-center">
    <ul class="list-inline mb-4">
      <li class="list-inline-item">
        <a href="https://egotter.com?via=scheduled_tweets" target="_blank"><%= t('.back_to_egotter') %></a>
      </li>
      <li class="list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="https://egotter.com/terms_of_service" target="_blank"><%= t('.terms_of_use') %></a>
      </li>
      <li class="list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="https://egotter.com/privacy_policy" target="_blank"><%= t('.privacy_policy') %></a>
      </li>
      <li class="list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="https://twitter.com/ego_tter" target="_blank">Twitter</a>
      </li>
      <li class="list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <% if user_signed_in? %>
          <%= link_to t('.sign_out'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('.sign_in'), user_twitter_omniauth_authorize_path %>
        <% end %>
      </li>
    </ul>
    <div class="text-muted">&copy; <%= t('.brand_title') %> 2020. All Rights Reserved.</div>
  </div>
</footer>

</body>
</html>
